body{
    width: 500px;
    margin: 0 auto;
}

path {
  stroke: #fff;
}

path:hover {  
  opacity: 0.8;
}

rect:hover {
  opacity: 0.5; 
}

section,
table,
svg,
text {
  font-family: "Inconsolata",Monaco,"Lucida Console",Consolas,"Courier New";
  font-style: normal;
  text-align: center;
}

section h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 10px;
}

section p {
  font-family: "Open Sans";
  text-align: left;
  font-size: 12px;
  font-weight: 50;
  margin-top: 5px;
}

.axis {
  font: 10px sans-serif; 
}

.legend tr {
    border: 1px solid black; 
    border-right: white;
    border-left: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none; 
}

.legend {
    margin: 30px 0px 90px;
    width: 200px;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}

.legend td {
    padding: 4px 5px;
    vertical-align: bottom;
}

.legendsentiment, .legendPerc{
    width: 50px;
}

/*#field {
    margin: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}*/

svg.histogram {
  width: 100%;
}

svg.piechart {
  margin-right: 30px;
}

